git+https://github.com/octree-nn/ocnn-pytorch.git
git+https://github.com/openai/CLIP.git
git+https://github.com/Dao-AILab/flash-attention.git
./libs/pointops
./libs/pointgroup_ops
./libs/pointnet2_ops_lib
